body {
  background: #eeefed;
}

a {
  text-decoration: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 25px;
}

h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Calibri", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
  margin-bottom: 40px;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  margin: 0 auto 20px; /* Center and add margin to stack vertically */
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/*btn-1*/
.btn-1 {
  background: rgb(170, 100, 225);
  background: linear-gradient(
    0deg,
    rgba(170, 100, 225) 0%,
    rgb(185, 148, 222) 100%
  );
  border: none;
}
.btn-1:hover {
  background: rgb(185, 148, 210);
  background: linear-gradient(
    0deg,
    rgb(195, 148, 210) 0%,
    rgb(210, 185, 235) 100%
  );
}

/*btn-2*/

/*btn-3*/
.btn-3 {
  border: none;
  outline: none;
  color: #fff;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn-3::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #44426e;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.btn-3::before {
  content: "";
  background: linear-gradient(
    45deg,
    #292643,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #44426e
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
